# BEGIN WP Rocket
AddDefaultCharset UTF-8

<IfModule mod_mime.c>
    AddCharset UTF-8 .atom .css .js .json .rss .vtt .xml
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
    Header append Vary: Accept-Encoding
</IfModule>
FileETag None

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/gif "access plus 4 months"
    ExpiresByType image/png "access plus 4 months"
    ExpiresByType image/jpeg "access plus 4 months"
    ExpiresByType image/webp "access plus 4 months"
    ExpiresByType font/ttf "access plus 4 months"
    ExpiresByType font/woff "access plus 4 months"
    ExpiresByType font/woff2 "access plus 4 months"
</IfModule>
# END WP Rocket

# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# Block access to sensitive files
<FilesMatch "^.*\.(bak|config|dist|ini|log|sh|sql|swp|php~|htaccess)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Redirect HTTP to HTTPS
<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Prevent hotlinking
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_REFERER} !^$
    RewriteCond %{HTTP_REFERER} !^https?://(www\.)?narcolepticnerd\.com [NC]
    RewriteCond %{HTTP_REFERER} !^https?://(www\.)?narcolepticnerd\.com/.*$ [NC]
    RewriteRule \.(jpg|jpeg|png|gif|svg|webp)$ - [F,NC]
</IfModule>

# Block bad bots
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_USER_AGENT} (?:bot|spider|crawler|wget|curl|scraper) [NC]
    RewriteRule .* - [F,L]
</IfModule>

# Set default PHP handler
<IfModule mime_module>
    AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>

#order deny,allow
#deny from all
#allow from 24.178.232.198
#Errordocument 403 "<body bgcolor='black'><div style='width:100%; text-align:center; position:absolute; top:50%; bottom:50%'><font #style='color:white; font-size:6em'>Work In Progress</font></div>"

DirectoryIndex index.php 

#index.php5 index.php4 index.php3 index.perl index.pl index.plx index.ppl index.cgi index.jsp index.jp index.phtml index.shtml #index.xhtml index.html index.htm index.wml Default.html Default.htm default.html default.htm home.html home.htm index.js




# SOFTACULOUS Block xmlrpc
<files xmlrpc.php>
	Require all denied
</files>
# SOFTACULOUS Block xmlrpc End

# SOFTACULOUS Block .htaccess and .htpasswd
<FilesMatch ^(?i:\.ht.*)$>
	Require all denied
</FilesMatch>
# SOFTACULOUS Block .htaccess and .htpasswd End

# SOFTACULOUS Block author scans
RewriteEngine On

RewriteCond %{QUERY_STRING} (author=\d+) [NC]
RewriteRule .* - [F]
# SOFTACULOUS Block author scans End

# SOFTACULOUS Block directory browsing
Options -Indexes
# SOFTACULOUS Block directory browsing End

# SOFTACULOUS Block access sensitive files
<FilesMatch "^.*(((?:wp-config)\.(?:php|bak|swp))|php.ini|\.[hH][tT][aApP].*|((?:error_log|readme|license|changelog|-config|-sample)\.(?:php|md|log|txt|htm|html)))$">
	Require all denied
</FilesMatch>
# SOFTACULOUS Block access sensitive files End

# SOFTACULOUS Enable bot protection
RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} (?:virusbot|spambot|evilbot|acunetix|BLEXBot|domaincrawler\.com|LinkpadBot|MJ12bot/v|majestic12\.co\.uk|AhrefsBot|TwengaBot|SemrushBot|nikto|winhttp|Xenu\s+Link\s+Sleuth|Baiduspider|HTTrack|clshttp|harvest|extract|grab|miner|python-requests) [NC]
RewriteRule ^(.*)$ http://no.access/
# SOFTACULOUS Enable bot protection End

## EXPIRES CACHING ##
# Expire headers#
<FilesMatch "(?i)^.*\.(ico|flv|jpg|jpeg|png|gif|js|css|woff)$">
ExpiresActive On
ExpiresDefault A2592000
</FilesMatch>
# END Expire headers#
## EXPIRES CACHING ##

#order deny,allow
#deny from all
#allow from 127
#ErrorDocument 403 "NO ACCESS"

# .htaccess file for wp-admin directory

# add this line if it's not already present in your .htaccess file
ErrorDocument 401 default



# allow anyone to access to admin-ajax.php
<Files "admin-ajax.php">
Allow from all
Satisfy Any
</Files>

#main wordpress
RewriteEngine On

RewriteRule ^index.php$ - [L]

# uploaded files


# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*.php)$ $2 [L]
RewriteRule . index.php [L]
#main wordpress

# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
order deny,allow
deny from all
ErrorDocument 403 "NO ACCESS"
</Files>


RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

DirectoryIndex index.html index.php

RewriteRule ^(fonts|Fonts|FONTS)/?$ "FontExpert Web Albums" [L]

#redirect 301 /fonts$ "/FontExpert Web Albums/"
#redirect 301 /myfonts/ "/FontExpert Web Albums/"

<FilesMatch "^.*(error_log|wp-config\.php|php.ini|\.[hH][tT][aApP].*)$">
Order deny,allow
Deny from all
</FilesMatch>

#trying to hard wordpress

<Files ~ "\.tpl$">
Order allow,deny
Deny from all
</Files>

#options +Indexes

#protect the htaccess
# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
</Files>

# attempt to harden
<IfModule mod_alias.c>
RedirectMatch 403 \,
RedirectMatch 403 \:
RedirectMatch 403 \;
RedirectMatch 403 \=
RedirectMatch 403 \[
RedirectMatch 403 \]
RedirectMatch 403 \^
RedirectMatch 403 \`
RedirectMatch 403 \{
RedirectMatch 403 \}
RedirectMatch 403 \~
RedirectMatch 403 \"
RedirectMatch 403 \$
RedirectMatch 403 \<
RedirectMatch 403 \>
RedirectMatch 403 \|
RedirectMatch 403 \.\.
RedirectMatch 403 \%0
RedirectMatch 403 \%A
RedirectMatch 403 \%B
RedirectMatch 403 \%C
RedirectMatch 403 \%D
RedirectMatch 403 \%E
RedirectMatch 403 \%F
RedirectMatch 403 \%22
RedirectMatch 403 \%27
RedirectMatch 403 \%28
RedirectMatch 403 \%29
RedirectMatch 403 \%3C
RedirectMatch 403 \%3E
RedirectMatch 403 \%3F
RedirectMatch 403 \%5B
RedirectMatch 403 \%5C
RedirectMatch 403 \%5D
RedirectMatch 403 \%7B
RedirectMatch 403 \%7C
RedirectMatch 403 \%7D
# COMMON PATTERNS
Redirectmatch 403 \_vpi
RedirectMatch 403 \.inc
Redirectmatch 403 xAou6
Redirectmatch 403 db\_name
Redirectmatch 403 select\(
Redirectmatch 403 convert\(
Redirectmatch 403 \/query\/
RedirectMatch 403 ImpEvData
Redirectmatch 403 \.XMLHTTP
Redirectmatch 403 proxydeny
RedirectMatch 403 function\.
Redirectmatch 403 remoteFile
Redirectmatch 403 servername
Redirectmatch 403 \&rptmode\=
Redirectmatch 403 sys\_cpanel
RedirectMatch 403 db\_connect
RedirectMatch 403 doeditconfig
RedirectMatch 403 check\_proxy
Redirectmatch 403 system\_user
Redirectmatch 403 \/\(null\)\/
Redirectmatch 403 clientrequest
Redirectmatch 403 option\_value
RedirectMatch 403 ref\.outcontrol
# SPECIFIC EXPLOITS
RedirectMatch 403 errors\.
RedirectMatch 403 config\.
RedirectMatch 403 include\.
RedirectMatch 403 display\.
RedirectMatch 403 register\.
Redirectmatch 403 password\.
RedirectMatch 403 maincore\.
RedirectMatch 403 authorize\.
Redirectmatch 403 macromates\.
RedirectMatch 403 head\_auth\.
RedirectMatch 403 submit\_links\.
RedirectMatch 403 change\_action\.
Redirectmatch 403 com\_facileforms\/
RedirectMatch 403 admin\_db\_utilities\.
RedirectMatch 403 admin\.webring\.docs\.
Redirectmatch 403 Table\/Latest\/index\.
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} (eval\() [NC,OR]
RewriteCond %{QUERY_STRING} (127\.0\.0\.1) [NC,OR]
RewriteCond %{QUERY_STRING} ([a-z0-9]{2000,}) [NC,OR]
RewriteCond %{QUERY_STRING} (javascript:)(.*)(;) [NC,OR]
RewriteCond %{QUERY_STRING} (base64_encode)(.*)(\() [NC,OR]
RewriteCond %{QUERY_STRING} (GLOBALS|REQUEST)(=|\[|%) [NC,OR]
RewriteCond %{QUERY_STRING} (<|%3C)(.*)script(.*)(>|%3) [NC,OR]
RewriteCond %{QUERY_STRING} (\|\.\.\.|\.\./|~|`|<|>|\|) [NC,OR]
RewriteCond %{QUERY_STRING} (boot\.ini|etc/passwd|self/environ) [NC,OR]
RewriteCond %{QUERY_STRING} (thumbs?(_editor|open)?|tim(thumb)?)\.php [NC,OR]
RewriteCond %{QUERY_STRING} ('|\")(.*)(drop|insert|md5|select|union) [NC]
RewriteRule .* - [F]
</IfModule>
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_METHOD} ^(connect|debug|move|put|trace|track) [NC]
RewriteRule .* - [F]
</IfModule>
<IfModule mod_alias.c>
RedirectMatch 403 (?i)([a-z0-9]{2000,})
RedirectMatch 403 (?i)(https?|ftp|php):/
RedirectMatch 403 (?i)(base64_encode)(.*)(\()
RedirectMatch 403 (?i)(=\'|=\%27|/\'/?)\.
RedirectMatch 403 (?i)/(\$(\&)?|\*|\"|\.|,|&|&amp;?)/?$
RedirectMatch 403 (?i)(\{0\}|\(/\(|\.\.\.|\+\+\+|\\"\\")
RedirectMatch 403 (?i)(~|`|<|>|:|;|,|%|\|\s|\{|\}|\[|\]|\|)
RedirectMatch 403 (?i)/(=|\$&|_mm|cgi-|etc/passwd|muieblack)
RedirectMatch 403 (?i)(&pws=0|_vti_|\(null\)|\{\$itemURL\}|echo(.*)kae|etc/passwd|eval\(|self/environ)
RedirectMatch 403 (?i)\.(aspx?|bash|bak?|cfg|cgi|dll|exe|git|hg|ini|jsp|log|mdb|out|sql|svn|swp|tar|rar|rdf)$
RedirectMatch 403 (?i)/(^$|(wp-)?config|mobiquo|phpinfo|shell|sqlpatch|thumb|thumb_editor|thumbopen|timthumb|webshell)\.php
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{QUERY_STRING} (\"|%22).*(<|>|%3) [NC,OR]
RewriteCond %{QUERY_STRING} (javascript:).*(\;) [NC,OR]
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3) [NC,OR]
RewriteCond %{QUERY_STRING} (\\|\.\./|`|='$|=%27$) [NC,OR]
RewriteCond %{QUERY_STRING} (\;|'|\"|%22).*(union|select|insert|drop|update|md5|benchmark|or|and|if) [NC,OR]
RewriteCond %{QUERY_STRING} (base64_encode|localhost|mosconfig) [NC,OR]
RewriteCond %{QUERY_STRING} (boot\.ini|echo.*kae|etc/passwd) [NC,OR]
RewriteCond %{QUERY_STRING} (GLOBALS|REQUEST)(=|\[|%) [NC]
RewriteRule .* - [F]
</IfModule>

# Ensure caching headers for images are set correctly
<IfModule mod_expires.c>
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

# Allow access to image files
<FilesMatch "\.(jpg|jpeg|png|gif|svg|webp)$">
    Require all granted
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

    ### START Custom WP-htaccess-Optimise rules ###
    
        ## START Disable the server signature ##
            ServerSignature Off
    
        ## START Block Sensitive Files ##
            <files .htaccess>
                Order deny,allow
                Deny from all
            </files>
            <files readme.html>
                Order deny,allow
                Deny from all
            </files>
            <files license.txt>
                Order deny,allow
                Deny from all
            </files>
            <files install.php>
                Order deny,allow
                Deny from all
            </files>
            <files wp-config.php>
                Order deny,allow
                Deny from all
            </files>
            <files error_log>
                Order deny,allow
                Deny from all
            </files>
            <files fantastico_fileslist.txt>
                Order deny,allow
                Deny from all
            </files>
            <files fantversion.php>
                Order deny,allow
                Deny from all
            </files>
            <Files README.md>
                order deny,allow
                deny from all
            </Files>
            <Files .gitignore>
                order deny,allow
                deny from all
            </Files>
            <Files ~ "^.*\.([Hh][Tt][AaPp])">
                order deny,allow
                deny from all
                satisfy all
            </Files>
    
        ## START Protect WP-includes ##
            <IfModule mod_rewrite.c>
                RewriteEngine On
                
                RewriteRule ^wp-admin/includes/ - [F,L]
                RewriteRule !^wp-includes/ - [S=3]
                RewriteRule ^wp-includes/[^/]+\.php$ - [F,L] # Ligne à retirer pour les multi-sites
                RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
                RewriteRule ^wp-includes/theme-compat/ - [F,L]
            </IfModule>
    
        ## START protect author link ##
            <IfModule mod_rewrite.c>
                RewriteCond %%{QUERY_STRING} ^author=([0-9]*)
                RewriteRule .* - [F]
            </IfModule>
    
        ## START block author scans ##
            <IfModule mod_rewrite.c>
                RewriteEngine On
                
                RewriteCond %%{QUERY_STRING} (author=\d+) [NC]
                RewriteRule .* - [F]
                #RewriteRule ^(.*)$ / [R=301,L]
            </IfModule>
    
        ## START Enabling the tracking of symbolic links ##
            <IfModule mod_rewrite.c>
                Options +FollowSymLinks
            </IfModule>
    
        ## Avoid comment spam ##
            <IfModule mod_rewrite.c>
                RewriteCond %{REQUEST_METHOD} POST
                RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
                RewriteCond %{HTTP_REFERER} !.narcolepticnerd.com.* [OR]
                RewriteCond %{HTTP_USER_AGENT} ^$
                RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]
            </IfModule>
    
        ## START Protection against file injections ##
            <IfModule mod_rewrite.c>
                RewriteCond %%{REQUEST_METHOD} GET
                RewriteCond %%{QUERY_STRING} [a-zA-Z0-9_]=http:// [OR]
                RewriteCond %%{QUERY_STRING} [a-zA-Z0-9_]=(\.\.//?)+ [OR]
                RewriteCond %%{QUERY_STRING} [a-zA-Z0-9_]=/([a-z0-9_.]//?)+ [NC]
                RewriteRule .* - [F]
            </IfModule>
    
        ## START Various protections ( XSS, clickjacking and MIME-Type sniffing )
            <ifModule mod_headers.c>
                Header set X-XSS-Protection "1; mode=block"
                Header always append X-Frame-Options SAMEORIGIN
                Header set X-Content-Type-Options: "nosniff"
            </ifModule>
    
        ## START Disable the hotlinking of your pictures ##
            <IfModule mod_rewrite.c>
                RewriteEngine On
                RewriteCond %{HTTP_REFERER} !^$
                RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?narcolepticnerd.com [NC]
                RewriteRule \.(jpg|jpeg|png|gif)$ http://fakeimg.pl/400x200/?text=Pas_touche_aux_images [NC,R,L]
            </IfModule>
    
        ## START Redirect without WWW ##
            <IfModule mod_rewrite.c>
                RewriteEngine On
                
                RewriteCond %%{HTTP_HOST} ^www\.(.*)$ [NC]
                RewriteRule ^(.*)$ http://%%1/$1 [R=301,L]
            </IfModule>
    
        ## START Redirect to HTTPS ##
            <IfModule mod_rewrite.c>
                RewriteEngine On
                RewriteCond     %%{SERVER_PORT} ^80$
                RewriteRule     ^(.*)$ https://%%{SERVER_NAME}%%{REQUEST_URI} [L,R]
            </IfModule>
    
        ## START Caching files in the browser ##
            <IfModule mod_expires.c>
                ExpiresActive On
            
                # Perhaps better to whitelist expires rules? Perhaps.
                ExpiresDefault                              "access plus 1 month"
            
                # cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
                ExpiresByType text/cache-manifest           "access plus 0 seconds"
            
                # Your document html
                ExpiresByType text/html                     "access plus 0 seconds"
            
                # Data
                ExpiresByType text/xml                      "access plus 0 seconds"
                ExpiresByType application/xml               "access plus 0 seconds"
                ExpiresByType application/json              "access plus 0 seconds"
                ExpiresByType application/pdf               "access plus 0 seconds"
            
                # Feed
                ExpiresByType application/rss+xml           "access plus 1 hour"
                ExpiresByType application/atom+xml          "access plus 1 hour"
            
                # Webfonts
                ExpiresByType application/x-font-ttf        "access plus 1 month"
                ExpiresByType font/opentype                 "access plus 1 month"
                ExpiresByType application/x-font-woff       "access plus 1 month"
                ExpiresByType application/x-font-woff2      "access plus 1 month"
                ExpiresByType image/svg+xml                 "access plus 1 month"
                ExpiresByType application/vnd.ms-fontobject "access plus 1 week"
            
                # Media: images, video, audio
                ExpiresByType image/gif                     "access plus 1 month"
                ExpiresByType image/png                     "access plus 1 month"
                ExpiresByType image/PNG                     "access plus 1 month"
                ExpiresByType image/jpeg                    "access plus 1 month"
                ExpiresByType image/jpg                     "access plus 1 month"
                ExpiresByType video/ogg                     "access plus 1 month"
                ExpiresByType audio/ogg                     "access plus 1 month"
                ExpiresByType video/mp4                     "access plus 1 month"
                ExpiresByType video/webm                    "access plus 1 month"
            
                # HTC files  (css3pie)
                ExpiresByType text/x-component              "access plus 1 month"
            
                # CSS and JavaScript
                ExpiresByType text/css                      "access plus 3 week"
                ExpiresByType application/javascript        "access plus 3 week"
            
                # Favicon (cannot be renamed)
                ExpiresByType image/x-icon                  "access plus 1 week"
                ExpiresByType application/x-shockwave-flash "access plus 1 week"
            </IfModule>
            <ifModule mod_headers.c>
                <filesMatch "\.(ico|pdf|flv|jpg|jpeg|jpe?g|png|PNG|gif|swf|mp3|mp4)$">
                    Header set Cache-Control "public"
                </filesMatch>
                <filesMatch "\.(css)$">
                    Header set Cache-Control "public"
                </filesMatch>
                <filesMatch "\.(js)$">
                    Header set Cache-Control "private"
                </filesMatch>
                <filesMatch "\.(x?html?|php)$">
                    Header set Cache-Control "private, must-revalidate"
                </filesMatch>
            </ifModule>
            # ----------------------------------------------------------------------
            # Proper MIME type for all files
            # ----------------------------------------------------------------------
            
            AddType application/javascript                   js jsonp
            AddType application/json                         json
            
            # Audio
            AddType audio/ogg                                oga ogg
            AddType audio/mp4                                m4a f4a f4b
            
            # Video
            AddType video/ogg                                ogv
            AddType video/mp4                                mp4 m4v f4v f4p
            AddType video/webm                               webm
            AddType video/x-flv                              flv
            
            # SVG
            #   Required for svg webfonts on iPad
            #   twitter.com/FontSquirrel/status/14855840545
            AddType     image/svg+xml                        svg svgz
            AddEncoding gzip                                 svgz
            
            # Webfonts
            AddType application/vnd.ms-fontobject            eot
            AddType application/x-font-ttf                   ttf ttc
            AddType font/opentype                            otf
            AddType application/x-font-woff                  woff
            
            # Assorted types
            AddType image/x-icon                             ico
            AddType image/webp                               webp
            AddType text/cache-manifest                      appcache manifest
            AddType text/x-component                         htc
            AddType application/xml                          rss atom xml rdf
            AddType application/x-chrome-extension           crx
            AddType application/x-opera-extension            oex
            AddType application/x-xpinstall                  xpi
            AddType application/octet-stream                 safariextz
            AddType application/x-web-app-manifest+json      webapp
            AddType text/x-vcard                             vcf
            AddType application/x-shockwave-flash            swf
            AddType text/vtt                                 vtt
    
        ## START Disabled headers ETags ##
            <IfModule mod_headers.c>
                Header unset ETag
                <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
                    Header set Cache-Control "max-age=2592000, public"
                </filesMatch>
                <filesMatch "\.(css)$">
                    Header set Cache-Control "max-age=604800, public"
                </filesMatch>
                <filesMatch "\.(js)$">
                    Header set Cache-Control "max-age=216000, private"
                </filesMatch>
                <filesMatch "\.(x?html?|php)$">
                    Header set Cache-Control "max-age=420, private, must-revalidate"
                </filesMatch>
            </IfModule>
            FileETag None
    
        ## START Compress static files ##
        # Compress all output labeled with one of the following MIME-types
            <IfModule mod_deflate.c>
                <IfModule mod_filter.c>
                    AddOutputFilterByType DEFLATE            application/atom+xml
                    AddOutputFilterByType DEFLATE            application/javascript
                    AddOutputFilterByType DEFLATE            application/x-javascript
                    AddOutputFilterByType DEFLATE            application/json
                    AddOutputFilterByType DEFLATE            application/rss+xml
                    AddOutputFilterByType DEFLATE            application/vnd.ms-fontobject
                    AddOutputFilterByType DEFLATE            application/x-font
                    AddOutputFilterByType DEFLATE            application/x-font-opentype
                    AddOutputFilterByType DEFLATE            application/x-font-otf
                    AddOutputFilterByType DEFLATE            application/x-font-truetype
                    AddOutputFilterByType DEFLATE            application/x-font-ttf
                    AddOutputFilterByType DEFLATE            application/xhtml+xml
                    AddOutputFilterByType DEFLATE            application/xml
                    AddOutputFilterByType DEFLATE            font/otf
                    AddOutputFilterByType DEFLATE            font/ttf
                    AddOutputFilterByType DEFLATE            font/opentype
                    AddOutputFilterByType DEFLATE            image/svg+xml
                    AddOutputFilterByType DEFLATE            image/x-icon
                    AddOutputFilterByType DEFLATE            text/css
                    AddOutputFilterByType DEFLATE            text/html
                    AddOutputFilterByType DEFLATE            text/javascript
                    AddOutputFilterByType DEFLATE            text/plain
                    AddOutputFilterByType DEFLATE            text/x-component
                    AddOutputFilterByType DEFLATE            text/xhtml
                    AddOutputFilterByType DEFLATE            text/xml
                </IfModule>
                <IfModule mod_setenvif.c>
                    <IfModule mod_headers.c>
                        SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
                        RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
                    </IfModule>
                </IfModule>
                BrowserMatch ^Mozilla/4 gzip-only-text/html
                BrowserMatch ^Mozilla/4\.0[678] no-gzip
                #BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
                SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
                Header append Vary User-Agent env=!dont-vary
            </IfModule>
    
    ### END Custom WP-htaccess-Optimise rules ###
    
# END WordPress

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php74” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit

# Enable Gzip Compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/x-javascript application/json application/xml application/rss+xml application/atom+xml image/svg+xml
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
</IfModule>

# Leverage Browser Caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

# Disable Image Hotlinking
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_REFERER} !^$
    RewriteCond %{HTTP_REFERER} !^https?://(www\.)?narcolepticnerd\.com [NC]
    RewriteRule \.(jpg|jpeg|png|gif|svg|webp)$ - [F,NC]
</IfModule>

# Protect wp-config.php
<Files wp-config.php>
    Order allow,deny
    Deny from all
</Files>

# Prevent Directory Browsing
Options -Indexes

# Block Access to Sensitive Files
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|bak|sql|swp|dist)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Enable HTTP Strict Transport Security (HSTS)
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

# Prevent Clickjacking
<IfModule mod_headers.c>
    Header always append X-Frame-Options SAMEORIGIN
</IfModule>

# Prevent MIME Sniffing
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Enable XSS Protection
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
</IfModule>